@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* font-family: "Dancing Script", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */
@font-face {
    font-family: 'Miama';
    font-style: italic;
    src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: "Inter", sans-serif;
}
/* shared style */
header{
    width: 100%;
    background-image: linear-gradient(360deg, rgba(17, 17, 17, 0.411),rgba(119, 119, 119, 0.384) 100%);

}
.display-flex{
    display: flex;
}

/* navbar design */
.navbar{
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}

.navbar h3{
    font-size: 3rem;
    color:rgb(230, 83, 60);
    font-style: italic;
}
.navbar ul{
   gap: 20px;
   border: 1px solid rgba(114, 113, 112, 0.747);
   border-radius:30px;
    padding: 5px;
}

.navbar ul li{
    list-style: none;
    padding: 5px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
}
#menu{
    display: none;
}
#home-design{
    background-color:rgb(230, 83, 60);;
    border-radius: 20px;
}

.main-banner{
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}
.main-banner-contant{
    padding: 20px;
    width: 520px;
    height: 540px;
}
#sign-text{
    font-family: 'Miama';
    font-size: 6.8rem;
    font-weight: 400;
}
.main-banner-contant h1{
    font-size: 4.8rem;
    font-weight: 900px;
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
}
.main-banner-contant p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.644);
    margin-bottom: 10px;

}

.btn-1{
    margin: 30px 30px 0 0;
    width: 220px;
    height: 55px;
    border: none;
    border-radius: 50px;
    background-color: rgb(230, 83, 60);;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
}
.btn-2{
    margin: 30px 30px 0 0;
    width: 220px;
    height: 55px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size:1rem;
    cursor: pointer;
}

 .card-1{
    align-items: center;
    gap:10px ;
    width: 206px;
    height: 96px;
    padding: 20px;
    margin-left: -120px;
    margin-top: -180px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color:rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
}
 .circle{
    width: 40px;
    height: 40px;
    background-color:rgb(230, 83, 60);
    border-radius: 50%;
}
 .polygon{
    width: 25px;
    height: 25px;
    margin: 8px 0 0 12px;
    clip-path: polygon(0 0, 0 100%, 83% 53%);
    background-color:rgb(250, 250, 249);
    display: none;
}
.card-content{
    text-align: left;
}

#number{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
#number-2{
    font-size: 2rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}

#video-tutorial{
    font-size: 1rem;
    font-weight: 400;
    color:rgba(239, 237, 232, 0.65);
}
.card-2{
    align-items: center;
    gap:10px ;
    width: 206px;
    height: 96px;
    padding: 20px;
    margin-left: 220px;
    margin-top: -350px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color:rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
} 

/* main section start */

.change-your-habit{
    text-align: center;
    max-width: 80%;
    margin: 50px auto;
}
.habit-contant{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-contant h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.habit-contant p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.habit-img{
   max-width: 100%; 
   gap: 20px;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
}
.habit-img-cointainar{
    width: 400px;
    height: 100%;
    color: white;
    text-align: center;
}
.habit-img-cointainar h2{
    margin-bottom: 10px;
    
}
.habit-img-cointainar p{
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.habit-img-cointainar img{
    width: 80%;
    border-radius: 50%;
    padding: 20px;
}

.run-card{
    max-width: 70%;
    margin: 100px auto;
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
    padding: 30px;
    border-radius: 50px;
}
.run-card-img{
    width: 800px;
    border-radius: 20px;
}
.run-card-img img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.run-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.run-contant h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;

}
.run-contant p{
    max-width: 60%;
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.5);
    text-align: left;
}
/* bmi table */
.bmi-title{
    width: 670px;
    height: 120px;
    margin: 50px auto;
    text-align: left;
}
.bmi-title h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;

}
.bmi-title p{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.5);
}

.bmi-table{
    background-color:rgb(34, 34, 34);
    justify-content: space-evenly;
}
.cheak{
    margin-top: 50px;
    margin-bottom: 80px;
}
/* table  */
#bmi-head{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px
}
table{
    border-collapse: collapse;
}
tr , td , th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}
th{
    color:rgb(255, 255, 255);
}
td{
    color: rgba(255, 255, 255, 0.5);
}
/* bmi-calculate-content */
.calculate-content h1{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

}
.calculate-content p{
    font-size: 1rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
}
.display-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
}
.input{
    width: 355px;
    height: 28px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
}
.input-select{
    width: 375px;
    height: 48px;
    color: rgba(255, 255, 255, 0.3);
    border-right: 10px solid transparent;
}
.input-select option{
    background-color: rgb(59, 58, 58);
    padding: 10px;
}
.input-select2{
    width: 775px;
    height: 48px;
    margin-top: 12px;
    color:rgba(255, 255, 255, 0.3);
    border-right: 10px solid transparent;
}

/* team-membars */

.team-membars{
    width: 1160px;
    height: auto;
    margin: 80px auto;
}
.membar-title h1{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}
.membar-title p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.membars-details{
    width: 1160px;
    height: auto;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.membar-1{
    width: 326.67px;
    height: auto;
    position: relative;
    margin-right: 40px;
}

.membar-1 img{
    width: 380px;
    height: 300px;
    border-radius: 20px;
    
}
.membar-name{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}
.name{
    font-size: 1.5rem;
    font-weight: 600;
}
.detail{
    color:rgba(185, 183, 183, 0.829) ;
}

/* challeng part */

.challenge-part{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.challenge-title{
    text-align: center;
}
.challenge-title p{
    font-size: 1.5rem;
    font-weight: 600;
    color: orangered;
    letter-spacing: 4px;
    margin: 0;
}
.challenge-title h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin: 0;
}
.our-offer-list{
    margin-top: 50px;
    gap: 40px;
    justify-content: center;
}
.challeng-card:hover{
    border: 2px solid orangered;
    padding: 10px;
    transition: 1s;
}
.image-and-price{
    position: relative;
}
.prices{
    position:absolute;
    width: 120px;
    height: 110px;
    border: none;
    border-radius: 60%;
    background-image: linear-gradient(360deg, rgba(131,58,180,1) 0%, rgba(253,70,29,1) 0%, rgba(255, 174, 0, 0.998) 100%);
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    right: 120px;
    top: 120px;
}
.gym-items{
    margin-top: 80px;
}
.gym-items h3{
    text-align: center;
    color: orangered;
    font-size: 2rem;
    margin: 0;
}
.gym-items ol{
    margin: 20px;
    padding: 20px;
}
.gym-items li{
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 500;
    
}
.entry-button{
    margin: 10px 0 0 100px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: orangered;
    cursor: pointer;
    background-image: linear-gradient(360deg, rgba(131,58,180,1) 0%, rgba(253,70,29,1) 0%, rgba(255, 174, 0, 0.998) 100%);
    color: white;
}

.footer{
    width: 100%;
    height: auto;
    background-color:rgba(255, 255, 255, 0.1);
}
.foter-part{
    color: white;
    padding: 50px;
    justify-content: space-evenly;
}
.footer-content1{
    width: 440px;
    height: auto;
}
.footer-content1 h1{
   font-size: 4rem;
   font-weight: 800;
   font-style: italic;
   color: rgb(230, 83, 60);
}
.footer-content1 p{
   font-size: 1rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.6);
   margin-top: 30px;
}
.footer-content2{
    margin-left: -300px;
}
.footer-content2 h3{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}
.footer-content2 li{
    list-style: none;
    color: rgba(255, 255, 255, 0.6);
    margin: 10px;
}
hr{
    width: 55%;
    margin: 0 auto;
   border: 1px solid rgba(255, 255, 255, 0.4);
}
.copyright{
    width: 310px;
    height: 80px;
    margin: 0 auto;
}
.copyright p{
    margin-top: 50px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
}
/* responsive area */
@media screen  and (max-width:556px){
    header{
        width: 100%;
    }
    .navbar ul{
        border: none;
    }
    ul li{
        display: none;
       }
    #menu{
        display: block;
        color: white;
        font-size: x-large;
    }
    .polygon{
        display: block;
    }
    main{
        margin-top: 350px;
    }
    .main-banner{
        flex-direction: column;
        
    }
    .main-banner-contant{
       
        width: 380px;
        height: 440px;
    }
    .main-banner-contant h1{
        font-size: 3.5rem;
    }
    .btn-1 , .btn-2{
        width: 169px;
        height: 54px;
    }
    .card-1{
        margin-left: 0px;
    }
    .card-2{
        width: 180px;
        margin-left: 200px;
        margin-top: -400px;
        padding: 10px;
        margin-bottom: 100px;
    }
    .habit-contant h1{
        font-size: 2.4rem;
        font-weight: 900px;
    }
    .habit-contant {
        font-size: 1rem;
        font-weight: 400px;
    }
    .main-banner-img{
        padding-left: 20px;
    }
    .habit-img{
        flex-direction: column;
    }
    .run-card{
        flex-direction: column;
    }
    .run-card{
        padding: 20px;
        
    }
    .run-contant h1{
        font-size: 2rem;
    }
    .run-contant p{
        font-size: 1rem;
        max-width: 100%;
    }
    .run-card-img{
        width: 100%;
    }
    .btn-responsive{
        width: 100%;
    }
    .btn-1{
        margin: 20px 10px 0 10px;
    }
    .btn-2{
        margin: 0;
    }
    .bmi-title{
        width: 353px;
        height: 150px;
        margin-left:15px;
    }
    .bmi-table{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .input{
        width: 180px;
        height: 30px;
    }
    .input-select{
        width: 200px;
        height: 45px;
    }
    .input-select2{
        width: 90%;
        height: 45px;
    }
    .team-membars{
        width: 90%;
    }
    .membars-details{
        width: 400px;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px auto;
        gap: 20px;
    }
    .our-offer-list{
        flex-direction: column;
        align-items: center;
    
    }
    .challenge-title h1{
        font-size: 2rem;
    }
    .entry-button{
        margin-bottom: 50px;
        margin-left: 120px;
    }
    .entry-button:hover{
        background-color: orangered;
        color: white;
        transition: 0.6s;
    }
    .foter-part{
        flex-direction: column;
        justify-content: left;
    }
    .footer-content1{
        width: 350px;
    }
    .footer-content2{
        margin-left: 0px;
        height: 200px;
        margin-top: 30px;
        
    }
    .footer-content2 li{
        display: block;
    }
    hr{
        width: 65%;
    }
}

@media screen and (min-width:556px) and (max-width:992px){
    .run-contant h1{
        font-size: 1.5rem;
    }
    .run-contant p{
        font-size: 0.8rem;
        max-width: 50%;
    }
    .run-card img{
        width: 100%;
        height: 100%;
    }
    .bmi-table{
        flex-direction: column;
    }
    .foter-part{
        flex-direction: column;
        justify-content: left;
    }
    .footer-content1{
        width: 350px;
    }
    .footer-content2{
        margin-left: 0px;
        height: 200px;
        margin-top: 30px;
        
    }
    .footer-content2 li{
        display: block;
    }
    .membars-details{
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px auto;
        gap: 20px;
    }
    .our-offer-list{
        flex-direction: column;
        align-items: center;
    
    }
}